.cardStyle{
    width: 160px;
    height: 50px;
    border: 0.1rem solid #f8dd74;
    border-radius: 0.7rem;
    margin-right: 1rem;
    text-align: center;
}
.cardStyle:hover{
    background-color: #f8dd74;
}
.cardStyle > a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    color: #4ac6bb !important;
}

@media screen and (min-width: 340px) and (max-width: 1000px){
    .cardStyle{
        margin: 0.2rem;
    }
}
