.optionDiv{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 450px) and (max-width: 750px){
    .optionDiv{
        margin-top: 6rem;
        
    }
}
@media screen and (min-width: 340px) and (max-width: 650px){
    .optionDiv{
        align-items: center;
        justify-content: center;
        margin-top: 12rem;
    }
}
